Source: meta-k8s-v1.35.2
Section: metapackages
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
  build-info,
  xmlstarlet
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: meta-k8s-v1.35.2
Architecture: all
Depends:
  kubernetes-1.35.2-client,
  kubernetes-1.35.2-kubeadm,
  kubernetes-1.35.2-node
Description: Kubernetes 1.35.2 metapackage
  This metapackage groups binaries associated with Kubernetes 1.35.2 in StarlingX.
