Source: meta-infra
Section: metapackages
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
  build-info
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: meta-infra
Architecture: all
Depends:
  audit-config,
  barbican-api,
  barbican-common,
  barbican-doc,
  barbican-keystone-listener,
  barbican-worker,
  centos-debian-compat,
  ceph,
  ceph-base,
  ceph-common,
  ceph-fuse,
  ceph-manager,
  ceph-mds,
  ceph-mgr,
  ceph-mon,
  ceph-osd,
  cert-alarm,
  cert-mon,
  cgts-client,
  collectd-extensions,
  collector,
  config-gate,
  config-gate-worker,
  crash,
  crictl,
  dmsetup,
  dnsmasq,
  dnsmasq-base,
  dnsmasq-config,
  dnsmasq-utils,
  docker-config,
  docker-registry,
  flux2,
  flux2-charts,
  fm-common,
  fm-common-doc,
  fm-doc,
  fm-mgr,
  fm-rest-api,
  haproxy,
  haproxy-config,
  horizon-doc,
  ipsec-auth,
  iptables-config,
  keystone,
  keystone-doc,
  ldapscripts,
  mtce,
  mtce-compute,
  mtce-control,
  mtce-hostw,
  mtce-hwmon,
  mtce-lmon,
  mtce-pmon,
  mtce-storage,
  multipath-config,
  nfs-utils-config,
  nfscheck,
  nova-api-proxy,
  openstack-dashboard,
  openstack-dashboard-apache,
  openstack-resource-agents,
  openvswitch-common,
  openvswitch-config,
  openvswitch-switch,
  openvswitch-switch-dpdk,
  platform-kickstarts,
  platform-upgrades,
  platform-util,
  platform-util-controller,
  platform-util-noncontroller,
  playbookconfig,
  puppet,
  puppet-boolean,
  puppet-dnsmasq,
  puppet-drbd,
  puppet-fm,
  puppet-hash2stuff,
  puppet-lvm,
  puppet-manifests,
  puppet-memcached,
  puppet-module-ceph,
  puppet-module-horizon,
  puppet-module-keystone,
  puppet-module-nanliu-staging,
  puppet-module-openstacklib,
  puppet-module-oslo,
  puppet-module-puppetlabs-firewall,
  puppet-module-puppetlabs-haproxy,
  puppet-module-puppetlabs-mysql,
  puppet-module-puppetlabs-postgresql,
  puppet-module-puppetlabs-rabbitmq,
  puppet-module-puppetlabs-stdlib,
  puppet-module-vswitch,
  puppet-mtce,
  puppet-network,
  puppet-puppi,
  puppet-smapi,
  puppet-sshd,
  puppet-sysinv,
  puppet-zitrlp-strongswan,
  rabbitmq-server,
  rabbitmq-server-config,
  registry-token-server,
  resource-agents,
  rsync-config,
  shadow-utils-config,
  sm,
  sm-api,
  sm-client,
  sm-common,
  sm-common-libs,
  sm-db,
  sm-eru,
  sm-tools,
  srptools,
  starlingx-dashboard,
  storageconfig,
  stx-audit-helm,
  stx-cert-manager-helm,
  stx-dell-storage-helm,
  stx-distributed-cloud-helm,
  stx-extensions,
  stx-harbor-helm,
  stx-intel-device-plugins-operator-helm,
  stx-ipsec-policy-operator,
  stx-istio-helm,
  stx-kernel-module-management-helm,
  stx-kubernetes-power-manager,
  stx-kubevirt-app-helm,
  stx-metrics-server-helm,
  stx-nginx-ingress-controller-helm,
  stx-node-feature-discovery,
  stx-node-interface-metrics-exporter,
  stx-ocf-scripts,
  stx-oidc-auth-helm,
  stx-openbao-helm,
  stx-openvswitch-helm,
  stx-oran-o2-helm,
  stx-platform-helm,
  stx-portieris-helm,
  stx-power-metrics,
  stx-ptp-notification-helm,
  stx-rook-ceph-helm,
  stx-seaweedfs-helm,
  stx-security-profiles-operator-helm,
  stx-snmp-helm,
  stx-sriov-fec-operator,
  stx-sts-silicom,
  stx-vault-helm,
  sysinv,
  sysinv-agent,
  trident-installer,
  tsconfig,
  worker-utils,
  workerconfig-standalone,
Description: Infrastructure metapackage
  This metapackage groups binaries related to general StarlingX services,
  excluding distributed cloud support and the update framework.
